*.iml
*.swp
.idea
*.pyc
*.pyo
__pycache__

.cache
.ipynb_checkpoints
.pytest_cache

.DS_Store
thumbs.db

dist
build
*.egg-info

*.activation.png
*.activation.npy
*.f0.csv

crepe/model-*.h5
crepe/model-*.h5.bz2

model.onnx
